:root{
    --logo-color: #000000;
    --text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --address-color: rgba(255, 255, 255, 0.6);
    --primary-bgheader-color: #FFFFFF;
    --primary-bghero-color: #2f303a;
    --color-border: #eeeeee;
    --primary-bgfeatures-color: #f5f5f5;
    --primary-bgsection-color:#f5f4fa;

    --hero-gradient: rgba(47, 48, 58, 0.4)
}

body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--title-text-color);
    letter-spacing: 0.03em;

}
ul{
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
}
/* RESET */
h1,
h2,
h3,
h4,
h5,
p{
    margin: 0;
}
/* Hover and focus effects */
.contact:focus,
.contact:hover,
.item .link:focus,
.item .link:hover{
    color: var(--accent-color);
}
/* Header */
.header {
    border-bottom: 1px solid var(--color-border);
}
.header-conteiner{
    align-items: center;
    display: flex 
}
.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.main-nav {
    margin-left: 93px;
}
.site-nav {
    display: flex;
    gap: 50px;
}

.site-nav .link{
    display: block;
}
.logo{
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--logo-color)
}

.logo-color{
    color: var(--accent-color);
}
.contact{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Navigation */
.link{
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
}

.item .active{
    color: var(--accent-color);
}


.auth-nav {
    display: flex;
    margin-left: auto;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.contact{
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-icon{
    fill: currentColor;
}

/* Main-Hero */
.main .hero{
    max-width: 1600;
    margin: 0 auto;

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--hero-gradient);

    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../Images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: var(--primary-bgheader-color);
    margin: 0;
}

.hero-title{
width: 696px;
height: 120px;
margin: 0 auto 30px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button.primary{
text-align: center;
padding: 10px 32px;
border-radius: 4px;
border: 0;


    background-color: var(--accent-color);
    color: var(--primary-bgheader-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    cursor: pointer;
}
/* WORK VS SVG IN BENEFITS */
.benefits-icon-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-bottom: 30px;

    min-height: 120px;

    border-radius: 4px;
    background-color: var(--primary-bgsection-color);
}
/* Benefits-features */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-conteiner .list{
    display: flex;
    gap: 30px;

}
.benefits-title{
    margin: 0;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits-text{

    margin-top: 10px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.71;
}
.features {
    padding-top: 0;
}
.features-conteiner .features-list{
    display: flex;
    gap: 30px;
}
.features-title{
    margin: auto;
margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Team */
.team{
    background-color: var(--primary-bgsection-color);
}
.team-title{
    margin: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-subtext{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-subtitle{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/* SVG TEAM */
.soclink-list-team{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.team-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    color: #afb1b8;
}

.team-link:hover,
.team-link:focus{
    background-color: var(--accent-color);
    color: var(--primary-bgheader-color);
    border-radius: 50%;
    border: 1px solid var(--accent-color);
}
/* clients section */
.client-list{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.client-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 172px;
    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    color: #afb1b8;
}
.clients-title{
    margin: auto;
margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.client-link:hover,
.client-link:focus{
color: var(--accent-color);
border: 1px solid var(--accent-color);

}

.icon-brand{
    fill: currentColor;
}
/* Footer */
.footer{
    background-color: var(--primary-bghero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    padding: 0;
}
.footer-conteiner .logo{
    display: block;
    margin-bottom: 20px;

    color: var(--primary-bgheader-color);
    text-decoration: none;
}
.address-map{
    color: var(--primary-bgheader-color);
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
}
.footer-list :nth-last-child(1n+2){
    margin-bottom: 9px;
}
.address-mail,
.address-tel{
    color: var(--address-color);
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
}
.address-map:hover,
.address-map:active,
.address-mail:hover,
.address-mail:active,
.address-tel:hover,
.address-tel:active{
color:var(--accent-color);
}
.team-item{
    background: var(--primary-bgheader-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* SVG footer */
.footer-all{
    display: flex;
    align-items: baseline;
    gap: 70px;
}
.footer-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-link:hover,
.footer-link:focus{
    background-color: var(--accent-color);
    border-radius: 50%;
}

.footer-title{
    margin: auto;
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.17;

    color: var(--primary-bgheader-color);
}
.taem-icon{
    fill: currentColor;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    color: var(--primary-bgheader-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
                    /* Portfolio page*/
/* Filter */
.main .portfolio{
    background-color: var(--primary-bgfeatures-color);
}
.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.filter-btn{
    padding: 6px 22px;
    background-color: var(--primary-bgsection-color);
    color: var(--logo-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: 0;
    border-radius: 4px;

}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/* hover focus */
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--accent-color);
    color: var(--primary-bgheader-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.portfolio-link:hover,
.portfolio-link:focus{
    color: var(--primary-bgheader-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12); 
}
/* end */
.filer-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.filter-text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;

}
.text-conteiner{
    padding: 20px 24px;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    text-decoration: none;
}
img {
width: 100%;
display: block;
height: auto;
}
/* The end */