:root{
    --logo-color: #000000;
    --text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --address-color: rgba(255, 255, 255, 0.6);
    --primary-bgheader-color: #FFFFFF;
    --primary-bghero-color: #2f303a;
    --color-border: #eeeeee;
    --primary-bgfeatures-color: #f5f5f5;
    --primary-bgsection-color:#f5f4fa;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--title-text-color);
    letter-spacing: 0.03em;

}
ul{
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
}
/* RESET */

/* Hover and focus effects */
.telephone:focus,
.telephone:hover,
.mail:focus,
.mail:hover,
.link:hover,
.link:focus{
    color: var(--accent-color)
}
/* Header */
.header {
    border-bottom: 1px solid var(--color-border);
}
.header-conteiner{
    align-items: center;
    display: flex 
}
.conteiner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.site-nav {
    display: flex;
    margin-left: 93px;
    gap: 50px;
}

.site-nav .link{
    display: block;
}
.logo{
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-color{
    color: var(--accent-color);
}

/* Navigation */
.link.active{
    color: var(--accent-color)
}

.list .link{
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav {
    display: flex;
    margin-left: auto;
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.telephone,
.mail{
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

/* Main-Hero */
.main .hero{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--primary-bghero-color);
    color: var(--primary-bgheader-color);
    margin: 0;
}

.hero-title{
width: 696px;
height: 120px;
margin: 0 auto 30px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.button.primary{
text-align: center;
padding: 10px 32px;
border-radius: 4px;


    background-color: var(--accent-color);
    color: var(--primary-bgheader-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    cursor: pointer;
}
/* Benefits-features */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-conteiner .list{
    display: flex;
    gap: 30px;

}
.benefits-title{
    margin: 0;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits-text{
    margin: auto;
    margin-bottom: 94px;
    padding-top: 10px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.71;
}

.features-conteiner .features-list{
    display: flex;
    gap: 30px;
}
.features-title{
    margin: auto;
margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Team */
.team{
    background-color: var(--primary-bgsection-color);
}
.team-title{
    margin: auto;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-subtext{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19px;
    text-align: center;
}
.team-text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
/* Footer */
.footer{
    background-color: var(--primary-bghero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-conteiner .logo{
    display: block;
    padding-bottom: 20px;

    color: var(--primary-bgheader-color);
    text-decoration: none;
}
.address-map{
    color: var(--primary-bgheader-color);
    font-weight: 400;
    font-style: normal;
    /* Без font-style: normal;text-decoration: none;
      текст виглядав курсивом з стилем Italic та підкреслений
      з ситуації вийшов таким чином*/
    line-height: 1.71;
    text-decoration: none;
}
.footer-list :nth-last-child(1n+2){
    margin-bottom: 9px;
}
.address-mail,
.address-tel{
    color: var(--address-color);
    font-weight: 400;
    font-style: normal;
    /* Без font-style: normal;text-decoration: none;
      текст виглядав курсивом з стилем Italic та підкреслений
      з ситуації вийшов таким чином*/
    line-height: 1.71;
    text-decoration: none;
}
.address-map:hover,
.address-map:active,
.address-mail:hover,
.address-mail:active,
.address-tel:hover,
.address-tel:active{
color:var(--accent-color);
}

                    /* Portfolio page*/
/* Filter */
.main .portfolio{
    background-color: var(--primary-bgfeatures-color);
}
.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.filter-btn{
    padding: 6px 22px;
    background-color: var(--primary-bgsection-color);
    color: var(--logo-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.filter-btn:hover,
.filter-btn:focus{
    background-color: var(--accent-color);
    color: var(--primary-bgheader-color);
}
.filer-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.filter-text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88px;
}
.text-conteiner{
    margin: 20px 24px 54px;
}
.portfolio-items{
    border-bottom: 1px solid var(--color-border);
}
.img + .team-img + .portfolio-img{
width: 100%;
display: block;
height: auto;
}
/* The end */