// bloc 2
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--title-text-color);
    letter-spacing: 0.03em;

}
ul{
    padding-inline-start: 0;
    list-style: none;
    margin: 0;
}

