.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 4px 6px rgba(0, 0, 0, 0.16); 
    }
}
/* OVERLAY START*/
.gallery-list__thumb{
    position: relative;
    overflow: hidden;
}
.gallery-list__text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    padding: 63px 24px;
    color: var(--primary-bgheader-color);
    background-color: rgba(33, 150, 243, 0.9);

    font-size: 18px;
    line-height: 1.33;

    transform: translateY(100%);   
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* OVERLAY END */
.gallery-list__title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.gallery-list__subtext{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;

}
.gallery-list__conteiner{
    padding: 20px 24px;
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);

}
.gallery-list__link{
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .gallery-list__text,
    &:focus .gallery-list__text{
    opacity: 1;
    transform: translateY(0);
    }
}

/* The end */