/* Forma */

.registr-form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.registr-form__title {
    margin-bottom: 12px;
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 00.03em;
    text-align: center;

    display: block;
}

.register-form__group{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 20px;
    gap: 10px;
    }


.register-form__label {
    display: flex;
    flex-direction: column;

    position: relative;
}

.register-form__text{
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: left;

    color: var(--text-color);
}

.register-form__input {
    display: block;
    width: 448px;
    
    padding: 11px 0px 11px 12px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;

    &:focus,
    &:hover{
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
    }
}

.input-agreement:focus,
.input-agreement:hover{
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
}

.register-form__svg{
    position: absolute;
    bottom: 11px;
    left: 12px;

    fill: var(--title-text-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__input:focus + .register-form__svg,
.register-form__input:hover + .register-form__svg
{
    fill: var(--accent-color);
}

.register-form__comment{
width: 448x;
height: 120px;
padding: 12px 16px;


font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);

border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

resize: none;
}

.register-form__agreement{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    margin-bottom: 30px;
}

.register-form__icon__check {
    display: block;
    width: 16px;
    height: 15px;

    background-image: url(../Images/sqwer.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.register-form__input__agreement:checked + .register-form__icon__check{
    background-image: url(../Images/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


.register-form__agreement__text{
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.register-form__agreement__link{
    color: var(--accent-color);
}